# Port configuration
PORT=5000

# MongoDB URI connection string
MONGODB_URI=mongodb://localhost:27017/taskforge

# JWT configuration
JWT_SECRET=super_secret_jwt_sign_key_change_in_production
JWT_EXPIRES_IN=1d

# Node Environment (development/production)
NODE_ENV=development
